[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/grpc"]
	path = external/grpc
	url = https://github.com/grpc/grpc.git
[submodule "external/replxx"]
	path = external/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
